code/*.o
code/*.lst
code/*.mod
code/gem_main
testcase/*.out
testcase/*.err

testcase/dump
testcase/matrix
testcase/out
testcase/eqdat
testcase/eqflux
testcase/flux
testcae/indicator
testcase/plot
testcase/yyre
