#Ignore compiled/binary files, etc.
code/*.o
code/*.lst
code/*.mod
code/gem_main
testcase/gem_main
dfftpack/src/*.o
dfftpack/src/*.a
dfftpack/src/*.so

#Ignore output files.
**/*.out
**/*.err
**/gem_main
**/dump
**/matrix
**/out
**/eqdat
**/eqflux
**/flux
**/freq
**/indicator
**/plot
**/yyre

#ipynb notebook stuff
**/.ipynb_checkpoints
